*{
    font-family: 'Dancing Script', cursive;
}

body {
    background:  #02010a;
}

.contenido {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/*CABECERA*/

.menu {
    background-color: #5b7989 ;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: row;
}

.titulo {
    margin: auto;
    text-shadow: 2px 2px  #02010a;
    
}

.navegacion {
    margin: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

ul{
    list-style-type: none;
}

ul li {
    display: inline;
    margin-left: 2em;
}

.submenu {
    text-decoration: underline #fff;
}

/* IMAGEN CENTRAL */

.central {
   background-color:  #82c3a6;
}

.central img {
    margin: 5%;
    width: 90%;
    height: 350px;
    border: 1px solid #000;
}

/* IMAGEN SECUNDARIA */

.imagenes {
    background-color: #d5c75f ;
    display: flex;
    flex-direction: row;
}

.paisajes{
    margin: auto;
}

.paisajes img {
    margin: 5%;
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    transition: 1s;
    
}

.paisajes img:hover {
    transform: rotate(10deg);
   box-shadow: 2px 2px #82c3a6;
}


.retratos {
    margin: auto;
}

.retratos img {
    margin: 5%;
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    transition: 1s;
    
    
}

.retratos img:hover {
    
    box-shadow: 2px 2px #82c3a6;
    transform: translate(20px, 5px);
}