*{
    font-family: 'Dancing Script', cursive;
}

body {
    background:  #02010a;
}

header {
    animation: miSlideIn 1.5s;
}

.contenido {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}


/*CABECERA*/

.menu {
    background-color: #5b7989 ;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: row;
}

.titulo {
    margin: auto;
    text-shadow: 2px 2px  #02010a;
    
}

.navegacion {
    margin: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

ul{
    list-style-type: none;
}

ul li {
    display: inline;
    margin-left: 2em;
}

.submenu {
    text-decoration: underline #fff;
}

/* IMAGEN CENTRAL */

.central {
   background-color:  #82c3a6;
}

.central img {
    margin: 5%;
    width: 90%;
    height: 350px;
    border: 1px solid #000;
}

/* IMAGEN SECUNDARIA */

.imagenes {
    background-color: #d5c75f ;
    display: flex;
    flex-direction: row;
}

.paisajes{
    margin: auto;
}

.paisajes img {
    margin: 5%;
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    transition: 1s;
    
}

.paisajes img:hover {
    transform: rotate(10deg);
   box-shadow: 2px 2px #82c3a6;
}


.retratos {
    margin: auto;
}

.retratos img {
    margin: 5%;
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    transition: 1s;
    
    
}

.retratos img:hover {
    
    box-shadow: 2px 2px #82c3a6;
    transform: translate(20px, 5px);
}

/*PIE DE PAGINA*/

.footer {
    display: flex;
    flex-direction: row;
    border-radius: 0px 0px 10px 10px;
    background-color:  #C6d5c5;
    padding-bottom: 10px;
}

.footer ul li {
    display: block;
}

.footer ul li a {
    color: #000;
}

.footer p {
    color: #000;
}

.footer h2 {
    margin-top: 0px;
}

.contacto {
    margin: auto;
    margin-top: 10px;
}

.terminos {
    margin: auto;
    margin-top: 10px;
}

.redes {
    margin: auto;
    margin-top: 10px;
}

.derechos {
    margin: auto;
    margin-top: 10px;
    
}

.derechos {
    margin-right: 10px;
}

.facebook {
    color: #3c5a99;
}

.twitter {
    color: #1da1f2;
}

.instagram {
    color: #833ab4;
}

/*ESTILOS PAISAJES.HTML*/

.filas {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.galeria {
    background-color: #d5c75f;
}
.galeria .margen {
    margin:20px;
}

.galeria .blur {
    -webkit-filter: blur(10px);
}

.galeria .grayscale {
    -webkit-filter: grayscale(100%);
}

.galeria .sepia {
    -webkit-filter: sepia(90%);
}

/*KEYFRAMES*/

@keyframes miSlideIn {
    0% {
        margin-top: 150%;
    }

    60% {
        margin-top: -5%;
    }

    100% {
        margin-top: 0%;
    }
}

/*DISENO ADAPTATIVO*/

@media (min-width:900px) {
    .contenido {
        width: 900px;
    }
}

@media (min-width:421px) and (max-width:720px) {

    /*Contenido*/

    .contenido {
        width: 100%;
    }

    /*Header*/

    .menu {
        flex-direction: column;
    }
   
    .titulo {
        text-align: center;
        width: 100%;
    }

    .navegacion {
        text-align: center;
        width:100%;
    }

    /*Imagenes centrales*/

    .imagenes {
        flex-direction: column;
    }

    .paisajes {
        width: 100%;
        text-align: center;
    }

    .retratos {
        width: 100%;
        text-align: center;
    }
}

@media (max-width:420px) {

    /*Contenido*/

    .contenido { 
        width: 100%;
    }

    /*Header*/

    .menu {
        flex-direction: column;
    }

    .titulo {
        text-align: center;
        width: 100%;
    }

    .navegacion {
        text-align: center;
        width: 100%;
    }

    /*Imagenes centrales*/

    .imagenes {
        flex-direction: column;
    }

    .paisajes {
        width: 100%;
        text-align: center;
    }

    .retratos {
        width: 100%;
        text-align: center;
    }
}