*{
    font-family: 'Dancing Script', cursive;
}

.menu {
    background-color: #5b7989 ;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: row;
}

.titulo {
    margin: auto;
    text-shadow: 2px 2px  #02010a;
    
}

.navegacion {
    margin: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

ul{
    list-style-type: none;
}

ul li {
    display: inline;
    margin-left: 2em;
}